.button {
    color:white;
    text-decoration: none;
    text-align: center;
    display: flex;
    float:left;
    border:none;
    padding:10px;
    font-size: 16px;
    margin:20px ;
    cursor: pointer;
  }
  .header
  {
    position: -webkit-sticky;
    position: sticky;
  top: 0;
    width:100%;
  height:120px;
  background-color:#800020;
  z-index:1000;
  }
    .logo
    {
        position:absolute;
        left:40px;
        top:0px;
    }
  .contents
  {  
    width:650px;
     background-color:#800020;
     font-size: 20px;
     display: inline-block;
     word-spacing:300px;
     margin-left:500px;
      margin-top:20px;
     color:white;
     font-family:Arial,sans-serif;
     overflow:hidden;
  }
    a.Book{
      width: auto;
      background-color:#800020;
      padding: 15px 32px;
      color: white;
      position: absolute;
      right: 100px;
      top:30px;
      border-style: solid;
      border-color: white;
      border-radius: 1px;
        }
  a{
    text-decoration: none;
  }
  .fac{
     width: auto;
     height: auto;
     position:relative;
     top: 30px;
     background-color:#ffffff;
     display:grid;
     grid-template-columns:repeat(3,1fr);
     grid-gap:1px;
     

 }
  .fac1
{
    width: 350px;
    height: 320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 15px;
    text-align:center;
    position:relative;
    left:3%;
 
   border-radius:4%;
  }
.fac1 img
{
    box-shadow: rgba(0, 0, 0, 0.40) 0px 4px 8px;
}
h4
{

    font-family: 'Enriqueta', arial, serif;
}
    .final
  {
    width:100%;
    height:50%;
    background-color:	#800020;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    position:relative;
    top: 50px;
  }
 .g1
  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #800020; 
  font-family: "Great Vibes", cursive; 
  font-size: 25px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff;
  }

